@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inika&display=swap');
*
{
padding:0;
margin:0;
  box-sizing: border-box;
 font-family: 'Marcellus', sans-serif; 
scroll-behavior: smooth;
}
body{
  overflow-x: hidden;
  background-image: linear-gradient(to right,#58bbe9,white );
}


/* ABOUT US , FOUNDER , CO FOUNDER*/

  .about-content h1{
    font-size: 35px;
    color: #000;
    margin-bottom: 25px;
    position: relative;
    align-items: center;
    text-align: center;
    overflow: hidden;


  
  }
 .about-content h1:hover{
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 5s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
 }
 @keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
  .heading p{
    font-size: 32px;
    color: #666;
    margin:3rem 0rem;
    text-align: center;
    text-transform: uppercase;
    animation: flip 5s infinite;
    animation-delay: calc(.2s * var(--i))
  }
  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }
  .container{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
    overflow-x: hidden;
  }
  .about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .about-image{
    flex: 1;
    margin-right: 40px;
    
  }
 

  .about-image img{
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease ;
  
  }
  .about-content{
    flex: 1;

  }
  .about-content p{
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
    font-weight: 500px;
    display: inline-block;
    animation: an 1s ease-out 1 both;
    
  }
  @keyframes an{
    from{
        opacity: 0;
        transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
    }
    to{
        opacity: 1;
        transform: perspective(500px) translate3d(0, 0, 0);
    }
}

  .about-content p:hover{
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
  }
  @-webkit-keyframes shine {
    from {
      -webkit-mask-position: 150%;
    }
    
    to {
      -webkit-mask-position: -50%;
    }
  }
  
  @media screen and (max-width:768px) {

    .heading {
        padding: 0px 20px;
    }
    .about-content h1{
        font-size: 36px;

    }
    .container{
        padding: 0px;

    }
    .about{
        padding: 20px;
        flex-direction: column;
    }
    .about-image{
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .about-content p{
            padding: 0px;
            font-size: .9rem;
    }
}
@media screen and (max-width:768px) {

  .f-content h1{
      font-size: 36px;

  }
  .container{
      padding: 0px;

  }
  .f-about{
      padding: 20px;
      flex-direction: column;
  }
  .f-image{
      margin-right: 0px;
      margin-bottom: 20px;
  }
  .f-content p{
          padding: 0px;
          font-size: .9rem;
  }
}
.f-about{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.f-image{
  flex: 1;
  margin-right: 40px;
  
}


.f-image img{
  max-width: 100%;
  height: auto;
  display: block;
  transition: 0.5s ease ;
  margin-left: 50px;
  width: 27rem;
  margin-top: 10%;


}
.f-content{
  flex: 1;

}
.f-content p{
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
  font-weight: 500px;
  display: inline-block;
  animation: an 1s ease-out 1 both;
  
}
@keyframes an{
  from{
      opacity: 0;
      transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
  }
  to{
      opacity: 1;
      transform: perspective(500px) translate3d(0, 0, 0);
  }
}
.f-content h1{
  font-size: 35px;
  color: #000;
  margin-bottom: 25px;
  position: relative;
  align-items: center;
  text-align: center;
  overflow: hidden;



}
.f-content h1:hover{
text-transform: uppercase;
font-size: 2em;
letter-spacing: 4px;
overflow: hidden;
background: linear-gradient(90deg, #000, #fff, #000);
background-repeat: no-repeat;
background-size: 80%;
animation: animate 5s linear infinite;
-webkit-background-clip: text;
-webkit-text-fill-color: rgba(255, 255, 255, 0);
}
@keyframes animate {
0% {
  background-position: -500%;
}
100% {
  background-position: 500%;
}
}
.f-content p:hover{
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}
@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  
  to {
    -webkit-mask-position: -50%;
  }
}


.cf-content h1{
  font-size: 35px;
  color: #000;
  margin-bottom: 25px;
  position: relative;
  align-items: center;
  text-align: center;
  margin-top: 10%;
  overflow: hidden;


}
.cf-content h1:hover{
text-transform: uppercase;
font-size: 2em;
letter-spacing: 4px;
overflow: hidden;
background: linear-gradient(90deg, #000, #fff, #000);
background-repeat: no-repeat;
background-size: 80%;
animation: animate 5s linear infinite;
-webkit-background-clip: text;
-webkit-text-fill-color: rgba(255, 255, 255, 0);
}
@keyframes animate {
0% {
  background-position: -500%;
}
100% {
  background-position: 500%;
}
}
.cf-about{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.cf-image{
  flex: 1;
  margin-right: 40px;
  
}


.cf-image img{
  max-width: 100%;
  
  display: block;
  transition: 0.5s ease ;
  width: 27rem;
  height: 24rem;

}
.cf-content{
  flex: 1;

}
.cf-content p{
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
  font-weight: 500px;
  display: inline-block;
  animation: an 1s ease-out 1 both;
  
}
@keyframes an{
  from{
      opacity: 0;
      transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
  }
  to{
      opacity: 1;
      transform: perspective(500px) translate3d(0, 0, 0);
  }
}
.cf-content p:hover{
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}
@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  
  to {
    -webkit-mask-position: -50%;
  }
}

@media screen and (max-width:768px) {

  
  .cf-content h1{
      font-size: 36px;

  }
  .container{
      padding: 0px;

  }
  .cf-about{
      padding: 20px;
      flex-direction: column;
  }
  .cf-image{
      margin-right: 0px;
      margin-bottom: 20px;
  }
  .cf-content p{
          padding: 0px;
          font-size: .9rem;
  }
}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* insta */
.fa-instagram {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}
/* linkedin*/
.fa-linkedin{
  background: #55ACEE;
  color: white;
}
.fa-envelope{
  background: #55ACEE;
  color: white;
}
.fa-telegram{
  background: #55ACEE;
  color: white;
}




/* OUR TEAM CSS */

.our-team h1{
    text-align:center;
    font-size: 2.2rem;
    color:black;
    margin: 10px;
    justify-content: center;
    font-family: 'Inika', serif;
    margin-top: 20px;
  
  }
  .our-team{
    display:flex;
    flex-wrap: wrap;
   justify-content:center;
    align-items:center;
    margin-top:5rem;
  }
  .card {
    width:33%;
    min-width: 150px;
    height: 300px;
    overflow: hidden;
    position: relative;
    
    display:inline-block;
    gap: 30vw;
    
  }
  .card:nth-of-type(3n){
    margin-right:0;
  }
  .card img {
    background-position: center;
    background-size: cover;
    width:90%;
    min-height:90%;
    transition:all 0.9s;
    margin: 4%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
  }
  .card:hover img{
   transform:scale(1.1,1.1)
  }
  .data {
    position: absolute;
    bottom: 5%;
    background:white;
    text-align:center;
    width: 70%;
    height: 30%;
    overflow: hidden;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 8px 5%;
    box-sizing: border-box;
    opacity: 0.8;
    transition: all 0.4s;
    border-radius: 20px;
  
  }
  
  .card:hover .data {
    width: 100%;
    height: 100%;
    bottom: 0;
    opacity: 0.9;
    padding:90px 5%;
    border-radius: 2%;
    /*background:#87CEEB;
  */
}
  
  .data h2 {
    margin: 0 0 5px 0;
    transition:color 0.4s;
    font-family: 'Inika', serif;
    font-size: 1.2rem;
  }
  
  .data p {
    opacity: 0;
    text-align:justify;
    transition: all 0.2s;
    font-family: 'Roboto', sans-serif;
  }
  
  .card:hover .data p,.card:hover .data a {
    opacity: 1
  }
  
  .data a{
    color:#1a1919;
    text-decoration:none;
    padding:5px;
    opacity:0;
    color: #080808;
    font-size: 2rem;
  }
  .card:hover h2{
    color:#1a1f71;
  }
  .data:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 10px;
  }
.data a:hover{
  color: rgb(86,177,187);
}
  
/* follow me @nodws */
.btn-twtr{
    border:2px solid;
    border-radius:3px;
    text-decoration:none;
    display:inline-block;
    padding:5px 10px;
    font-family:sans-serif;
    font-weight:600;
    margin-top:100px;
    opacity:0.8
  }
  
  /* MISSSION,VISION,HISTORY*/
  
  * {box-sizing: border-box}
  
  
  /* Slideshow container */
  .slideshow-container {
  position: relative;
/*  background-image: linear-gradient(to bottom,#58bbe9,white );
  */
  margin-top: 5%;
  padding: 10%;
  transition: 7s;
  
  }
  /* Slides */
  .mySlides {
  
    padding: 4px;
    text-align: center;
    height: 100%;
    width: 100%;
    margin-left: 2.25%;
    
  }  
  
  
  
  /* Next & previous buttons */
  .prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  margin-right: 45px;
  
  color: #888;
  font-weight: bold;
  font-size: 25px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
 .prev, .next:hover{
 border-radius: 50px;
 width: 37px;
 height:37px;
  color:#454444;
 background-color:rgba(255, 255, 255, 0.4);
 justify-content: center;
 display: flex;
box-shadow: 0px 0px 10px rgb(8, 8, 5,0.2);
  }
  .next, .prev:hover{
     border-radius: 50px;
 width: 37px;
 height:37px;
 color:#817c7c;
 background-color:rgba(211, 211, 246, 0.4);
 justify-content: center;
 display: flex;
box-shadow: 0px 0px 10px rgb(8, 8, 5,0.2);
}
  
  /* The dot/bullet/indicator container */
  .dot-container {
    text-align: center;
    padding: 20px;
    visibility: hidden;
    
  }
  
  /* The dots/bullets/indicators */
  .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  }
  
  /* Add a background color to the active dot/circle */
  .active, .dot:hover {
  background-color: #717171;
  }
  
  /* Add an italic font style to all quotes */
  h2 {
  color: rgb(16, 15, 15);
  font-size: 2.5rem;
  font-family: 'Inika', serif;
  
  }
  
  /* Add a blue color to the author */
  .S-container p {color: rgb(12, 12, 12);
  font-size: 1.2rem;
  text-align: center;
  
  display: flex;
  font-family: 'Roboto', sans-serif;
  margin-top: 10%;
  }
.S-container p:hover{
    color:rgb(70, 71, 71);
   font-weight: 500;
    padding: 20px;
}
  
  /* Container holding the image and the text */
  .S-container {
    position: relative;
    text-align: center;
    color: rgb(12, 12, 12);
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    
  }
  
  .S-container img{
    border-radius: 5%;
    opacity: 30%;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    
  }
  @media (max-width: 768px){
    .centered p{
      font-size: .5rem;
    }
    .centered h2{
      font-size: .7rem;
    }
    .centered img{
      width: 18rem;
      height: 14rem;
    }
    .S-container{
      flex-direction: column;
      margin-bottom: 0rem;
    }
  }
  

  @media (max-width:1280px){
    .our-team{
      margin-left: 3%;
      display: contents;
    }
  }
   
  @media (max-width:786px){
   
    .card {
      width:100%;
      
    }
    .our-team h1{
      font-size: 1.5rem;
      text-align: center;
      justify-content: center;
   
    }
    .our-team {
      margin-right: 19%;
    }
  }
