@import url('http://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inika&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Poppins', sans-serif; */
}
body {
  /* background: linear-gradient(90deg, #000000,0%,#000000 30%, #03a9f5 30%,#03a9f5 100%); */
  background: linear-gradient(to right, #03a9f5, #ffffff);
  background-repeat: no-repeat;
  }
.contactUs{
  position: relative;
  width: 100%;
  padding: 40px 100px;
}
.contactUs .title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:2em;
  font-family: 'Marcellus', serif;
}
.contactUs .title .h3{
  color: #fff;
  font-weight: 500;
}
.info{
  grid-area: info;
  font-family: 'Marcellus';
}
.map{
  grid-area: map;
  padding: 0px;
}
.form{
  grid-area: form;
  
}
.contact.form{
  /* background-image: url(https://images.unsplash.com/photo-1612442734759-47eecef6d015?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTc1fHx3aGl0ZSUyMGFlc3RoZXRpY3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60); */
  box-shadow: 0 5px 35px rgba(0,0,0,0.15);
  background-repeat: no-repeat;
  background-size: cover;
   font-family: 'Poppins', sans-serif;
}
.contact{
  padding: 40px;
  background: #fff;
  box-shadow: 0 5px 35px rgba(0,0,0,0.15);
}
.box{
  position: relative;
  display:grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 5fr 4fr;
  grid-template-areas: 
  "form info"
  "form map";
  grid-gap: 20px;
  margin-top: 20px;
}
.contact h4{
  color: #0e3959;
  font-weight: 500;
  font-family: 'Marcellus', serif;
  font-size: 1.4em;
  margin-bottom: 10px;
}
.formBox {
  position: relative;
  width: 100%;
}
.formBox .row50{
  display: flex;
  gap: 20px;
}
.inputBox {
  display: flex;
  flex-direction: column;
  margin-bottom:10px;
  width: 50%;
}
.formBox .row50 .inputBox {
  width: 100%;

}
.inputBox span {
color: #0e3959;
margin-top: 10px;
margin-bottom: 5px;
font-weight: 500;
}
.inputBox input{
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  border: 1px solid #333;
}

.inputBox textarea{
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  border: 1px solid #333;
  resize: none;
  min-height: 220px;
  margin-bottom:10px;
}
.inputBox input[type="submit"]{
  background-color: #18b7ff;
  color: #fff;
  border: none;
  font-size: 1.1em;
  max-width: 120px;
  cursor: pointer;
  padding: 14px 15px;
  font-weight: 500;
}
.inputBox input[type="submit"]:hover{
animation: pulse 1s infinite;
transition: .3s;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(.9);
  }
    100% {
    transform: scale(1);
  }
}
.inputBox ::placeholder{
  color: #999;
}
.info{
  background-color: #4584b5;
  background-image: url(./Images/contact_info.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* border-radius: 10%; */
}
.info h3{
  color: #fff;
}
.info .infoBox div{
display: flex;
align-items: center;margin-bottom: 10px;

}
.info .infoBox div span{
   min-width: 40px;
   height: 40px;
   color: #fff;
   background-color: #18b7ff;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.5em;
   border-radius: 50%;
   margin-right: 15px;
}

.info .infoBox div p{
  color: #fff;
  font-size: 1.1em;
}
.info .infoBox div a{
  color: #fff;
  text-decoration: none;
  font-size: 1.1em;
}
.sci{
  margin-top:40px;
  display: flex;
}
.sci li{
  list-style: none;
  margin-right: 15px;
}
.sci li a{
  color: #fff;font-size: 2em;
  color: #18b7ff;
}
.sci li a:hover{
  color: #fff;
}
.map{
  padding: 0px;
}
.map iframe{
  width: 100%;
  height: 100%;
}

.branch{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin-top: 0%;
  /* background: linear-gradient(45deg, #00bcd4,#ffeb3b); */
  font-family: 'Marcellus';

}
.branch .container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px 50px;
  margin-top: 0%;
  padding: 100px 50px;
}
.container .card{
  position: relative;
  display: flex;
  justify-content:center;
  align-items: flex-start;
  width: 350px;
  height: 300px;
  background-color: #fff;
  border-radius:  20px;
  box-shadow: 0 35px 80px rgba(0,0,0,0.15);
  transition:0.5s;
}

.container .card:hover{
  height: 300px;
}
.container .card .imgBx{
  position: absolute;
  top: 20px;
  width: 300px;
  height: 220px;
  background-color: #333;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.5s;
}

.container .card:hover .imgBx{
  top: -100px;
  scale: 0.95;
  box-shadow: 0 15px45px rgba(0,0,0,0.15);
}

.container .card .imgBx img{
  top: 0;
  left: 0;width: 100%;height: 100%;height: 100%;
  object-fit: cover;
}

.container .card .content{
  position: absolute;
  top: 252px;
  height: 30px;
  overflow: hidden;
  transition: 0.5s;
  width: 100%;
  padding: 0 30px;
  text-align: center;

}
.container .card:hover .content{
  top: 130px;
  height:250px;
}

.container .card .content h2{
  font-size:1.5em;
  font-weight:700;
  color: var(--clr);

}
.container .card .content p{
 color:#333;
 font-family: 'Poppins';

}
.container .card .content a{
  position: relative;
  top: 15px;
  display: inline-block;
  padding: 12px 25px;
  background: #03a9f5;
  color:#fff;
  font-weight: 500;
  text-decoration: none;
  border: radius 8px;
 }
 .container .card .content a:hover{
  animation: pulse 1s infinite;
transition: .3s;

 }

 @media  screen and (max-width:1280px){
  /* .branch .content-section{
flex-direction: column;
  }*/
   .contactUs{
    padding: 34px 0px;
}
  .box{
    display: inherit;
  } 
  .info{
    font-size: 50%;
  }
 
  .info .form{
    margin-bottom: 5%;
    margin-top: 5%;
  }
  .formBox .row50 {
    display: block;
    gap: 20px;
}
.inputBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
}
.map{
  margin-top:5%;
  padding: 0px;
  height: 600px;
}
.contact {
  padding: 40px;
  margin-bottom: 5%;
  box-shadow: 0 5px 35px rgba(0,0,0,0.15);
}

}

.branch_section h3{
  text-align: center;
  margin-bottom: -2%;
  font-size: 1.5em;
  font-family: 'Marcellus', serif;
}




/* navbar */

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  
}
body{
  overflow-x: hidden ;
}
/* header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  z-index: 100;
  background-color: #fff;
}
header .heading {
  margin-left: 8rem;
  font-family: 'Inika', serif;
}
header a img {
  margin-top: 0.5rem;
    width: 10rem;
}
header #menu-icon {
  display: none;
}
header .navbar {
  margin: 4rem;
  transform: translateX(0%);
}
header .navbar a {
  position: relative;
  color: black;
  list-style-type: none;
  text-decoration: none;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: 'Inika', serif;
  font-weight: 500;
  margin: 0px 10px;
  padding: 10px 10px;
}

Pull down  
header .navbar a:before {
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0px;
  top: 0px;
  content: '';
  background: rgb(119, 119, 214);
  opacity: 0;
  transition: all 0.3s;
}

header .navbar a:hover:before {
  opacity: 0.3;
  height: 100%;
}
@media screen and (max-width:1280px) {

body{
  overflow-x: hidden;
}

header .heading {
  margin-left: 2rem;
}

header #menu-icon{
  display: block;
  color:black;
  font-size: 1.9rem;
  float: right;
  padding-right: 1.2rem;
}

header .navbar {
  position: absolute;
  top: 0.35rem;
  left: -8rem;
  width: 100%;
  padding: 1rem 0rem 0rem 0rem;
  margin: 4rem 0rem 0rem 8rem;
  background: rgba(197, 226, 225, 0.92);
  
  transform: translateX(-100%);
  transition: 0.5s ease;
  z-index: 100;
}

header .navbar .active {
  transform: translateX(0%);
}

header nav a {
  display: block;
  font-size: 1.2rem;
  margin: 1rem 5%;
}

header .navbar a:before {
 display: none;
}

header .navbar a:hover:before {
display: none;
}
} */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: #fff;
}

header .heading {
    margin-left: 8rem;
}

header a img {
    width: 10rem;
}


header #menu-icon {
    display: none;
}

header .navbar {
    margin: 4rem;
    margin-right: 1rem;
    transform: translateX(0%);
    opacity: 1;
}

header .navbar a {
    position: relative;
    color: black;
    list-style-type: none;
    text-decoration: none;
    /* padding-right: 2.2rem; */
    text-decoration: none;
    font-size: 1.2rem;
    font-family: 'Inika', serif;
    font-weight: 500;
    margin: 0px 10px;
    padding: 10px 10px;

}


/* Pull down  */
header .navbar a:before {
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    top: 0px;
    content: '';
    background: rgb(119, 119, 214);
    opacity: 0;
    transition: all 0.3s;
}

header .navbar a:hover:before {
    opacity: 0.3;
    height: 100%;
}

@media (max-width:1040px){
    header .heading {
        margin-left: 2rem;
    }

    header .navbar a {
        font-size: 1.05rem;
    }
}

@media (max-width:1280px) {

header .heading {
    margin-left: 1.5rem;
}

}

@media (max-width:850px){

header a img{
    width: 8rem;
}

header .heading {
    margin-left: 1rem;
}

header #menu-icon {
    display: block;
    color: black;
    font-size: 1.9rem;
    float: right;
    padding-right: 1.2rem;
}

header .navbar {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* align-items:left;  */
    /* gap: -5rem; */
    /* justify-content: flex-start; */
    top: 0.35rem;
    left: -8rem;
    width: 100%;
    padding: 1rem 0rem 0rem 0rem;
    margin: 4rem 0rem 0rem 8rem;
    background: rgba(197, 226, 225, 0.92);
    /* display: none; */
    transform: translateX(-100%);
    transition: 0.5s ease;
    z-index: 100;
}

header .navbar .active {
    transform: translateX(0%);
}

header nav a {
    display: block;
    font-size: 1.2rem;
    margin: 1rem 5%;
}

/* Pull down  */
header .navbar a:before {
    display: none;
}

header .navbar a:hover:before {
    display: none;
}

}

/* footer */

/* Reset some default styles */
/* body, p {
  margin: 0;
  padding: 0;
}

Footer Styles
footer {
  background-color: #33333380;
  color: #fff;
  padding: 20px 0;
  font-family: 'Poppins';
  font-family: 'Inika';
  font-size: 1.2em;
  font-family: 'Poppins';
}

footer .copyright {
  text-align: center;
  color: #000000;
  font-family: 'Poppins';
}

footer .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

footer .nav-bar {
  display: flex;
  flex-direction: column;
}

footer .nav-bar a {
  text-decoration: none;
  color: #fff;
  margin-bottom: 10px;
}

footer .another-link a {
  text-decoration: none;
  color: #fff;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}

footer .social-media {
  text-align: center;
}

footer .social-media h5 {
  margin-bottom: 10px;
  color: #fff;
  font-size: 1.2em;
}

footer .social-media a {
  text-decoration: none;
  color: #000000;
  font-size: 1.9em;
  margin-right: 10px;
}
footer .social-media a:hover{
  color:#ffffff;
}

Responsive Footer Styles
@media screen and (max-width: 768px) {
  footer .links {
      flex-direction: column;
      align-items: flex-center;
  }

  footer .nav-bar {
      margin-bottom: 20px;
  }

  footer .social-media {
      margin-top: 20px;
  }
} */

footer .first {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
    border-radius: 2rem 2rem 0 0;
    /* background: rgba(30, 30, 30, 0.92); */
    background-color: black;
    color: #ffffff;
    gap: 30vw;
    font-size: 1.7rem;
    font-family: 'Inika', serif;
    animation: slideInFromBottom 1s;
    animation: fadeIn 1s;
}

footer .copyright {
  display: flex;
  /* justify-content: flex-start; */
}

footer .copyright img{
    width: 15rem;
}

footer .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;
}

footer .links .nav-bar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 2rem;
}

footer .links .nav-bar a {
  color: #FFF;
  text-decoration: none;
  font-size: 1.3rem;
}

footer .links .nav-bar a:hover {
  animation: pulse 0.5s;
  color: rgb(86, 177, 187);
}

footer .links .another-link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 2rem;
}

footer .links .another-link a {
  color: #FFF;
  text-decoration: none;
  font-size: 1.3rem;
}

footer .links .another-link a:hover {
  animation: pulse 0.5s;
  color: rgb(86, 177, 187);
}

footer .links .social-media {
  line-height: 2rem;
  align-items: center;
}

footer .links .social-media h5,
a {
  font-size: 1.5rem;
}

footer .links .social-media {
  display: flex;
  flex-direction: column;
}

footer .links .social-media a {
  display: inline-block;
  font-size: 2rem;
  color: white;

}

footer .links .social-media a:hover {
  animation: pulse 0.5s;
  color: rgb(86, 177, 187);
}

footer .second{
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.5rem;
}

@keyframes pulse {

  0%,
  100% {
      transform: translate(0);
  }

  50% {
      transform: translate(-0.1rem, -0.25rem);
  }
}

@media (max-width:1280px) {
 
    footer .first {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50vh;
        gap: 1vw;
        font-size: 1.4rem;
    }
}

@media (max-width:786px) {
  footer .first {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80vh;
        font-size: 1.3rem;
     gap:1.5rem
    }

  footer .links {
      display: flex;
      flex-direction: column;
      float: left;
      gap: 5vh;
  }

  footer .links .nav-bar {
      display: flex;
      justify-content: center;
      align-items: center;
  }


  footer .links .another-link {
      display: flex;
      align-items: center;
      justify-content: center;
  }

  footer .links .social-media {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.2rem;
  }

  footer .links .social-media a {
      font-size: 2rem;
  }
}
