@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');


* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}

body {
    overflow-x: hidden;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    z-index: 100;
    top: 0;
    left: 0;
    /* background-color: #AED2FF; */
}

header .heading {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    margin-left: 8rem;
}

header a img {
    width: 10rem;
    /* height: 5rem; */
}


header #menu-icon {
    display: none;
}

header .navbar {
    margin: 4rem;
    margin-right: 1rem;
    transform: translateX(0%);
    opacity: 1;
}

header .navbar a {
    position: relative;
    color: black;
    list-style-type: none;
    text-decoration: none;
    /* padding-right: 2.2rem; */
    text-decoration: none;
    font-size: 1.2rem;
    font-family: 'Inika', serif;
    font-weight: 500;
    margin: 0px 10px;
    padding: 10px 10px;

}


/* Pull down  */
header .navbar a:before {
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    top: 0px;
    content: '';
    background: rgb(119, 119, 214);
    opacity: 0;
    transition: all 0.3s;
}

header .navbar a:hover:before {
    opacity: 0.3;
    height: 100%;
}






.hero .video-wrapper {
    position: relative;
    width: 100%;
    height: 80vh;
}

.hero #construction-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;
    z-index: 2;
    font-family: 'Dela Gothic One', cursive;
    animation: fade-in 1s ease-in-out;
    width: 100%;
    /* padding: 1rem; */
}

.text-overlay .titleb {
    font-size: 6.8rem;
    color: #FFF;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.down-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 0.5rem;
}

.down-icon a {
    color: black;
    position: relative;
    margin: 2rem;
    font-size: 3rem;
    cursor: pointer;
    text-decoration: none;
    animation: float 2s ease-in-out infinite;
}


@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    word-wrap: break-word;
    margin: 0rem 0rem 5rem 0rem;
    background: fixed url(https://rare-gallery.com/uploads/posts/380093-4k-wallpaper.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome .txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    word-wrap: break-word;
}

.welcome .txt h2 {
    font-size: 4rem;
    font-family: 'Marcellus', serif;
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: #FFF;
}


.welcome .txt h5 {
    margin: 1rem 2rem 1rem 2rem;
    font-size: 2rem;
    font-weight: 100;
    color: #ffff;
    text-align: center;
    font-family: 'Marcellus', serif;
    word-wrap: break-word;

}

.welcome .welcomeig .txt a{
    text-decoration: none;
    font-size: 1.3rem;
}

.welcome .welcomeig .txt a button {
    background-color: #ffffff;
    color: black;
    padding: 0.5rem 0.7rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    display: inline-flex;
    align-items: center;
}

.welcome .welcomeig .txt a  button:hover {
    background: rgba(30, 30, 30, 0.92);
    color: #ffff;
    transform: scale(1.05); /* Scale up the button on hover */
}




.scroll-fade {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 1s, transform 1s;
}

.scroll-fade.animated {
    opacity: 1;
    transform: translateY(0);
}

.section-services {
    /* font-family: "Poppins", sans-serif; */
    font-family: 'Marcellus', serif;
    /* background-color: #e6edf7; */
    background-image: url(https://rare-gallery.com/mocahbig/456477-skyline-vector-vector-art-illustration-simple-simple-background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #202020;
    padding-top: 100px;
    margin-bottom: 5rem;
}

.section-services .header-section {
    margin-bottom: 34px;
}

.section-services .header-section .title {
    position: relative;
    padding-bottom: 14px;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 40px;
}

.section-services .header-section .title:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 3px;
    background-color: #2e6c6e;
    border-radius: 3px;
}

.section-services .header-section .title:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(30px);
    width: 10px;
    height: 3px;
    background-color: #504f93;
    border-radius: 3px;
}

.section-services .header-section .description {
    font-size: 18px;
    color: #282828;
}

.section-services .single-service {
    position: relative;
    margin-top: 30px;
    background-color: #fff;
    border-radius: 10px;
    padding: 40px 30px;
    overflow: hidden;
    height: 25rem;
    /* opacity: 0; */
    transform: translateY(40px);
    transition: opacity 1s, transform 1s;

}

/* .section-services .single-service .animated2 {
    opacity: 1;
    transform: translateY(0);
} */

.section-services .single-service .content {
    position: relative;
    z-index: 20;
}

.section-services .single-service .circle-before {
    position: absolute;
    top: 0;
    right: 0px;
    transform: translate(40%, -40%);
    width: 150px;
    height: 150px;
    background-color: #71d8db;
    border: 6px solid #178386;
    border-radius: 50%;
    opacity: 0.5;
    z-index: 10;
    transition: all .6s;
}

.section-services .single-service:hover .circle-before {
    width: 100%;
    height: 100%;
    transform: none;
    border: 0;
    border-radius: 0;
    opacity: 1;
}

.section-services .single-service .icon {
    display: inline-block;
    margin-bottom: 26px;
    width: 70px;
    height: 70px;
    background-color: #71d8db;
    border-radius: 5px;
    line-height: 70px;
    text-align: center;
    color: #fff;
    font-size: 30px;
    transition: all .3s;
}

.section-services .single-service:hover .icon {
    background-color: #fff;
    color: #71d8db;
}

.section-services .single-service .title {
    margin-bottom: 18px;
    font-weight: 700;
    font-size: 28px;
    transition: color .3s;
}

.section-services .single-service:hover .title {
    color: #fff;
}

.section-services .single-service .description {
    margin-bottom: 20px;
    font-size: 15px;
    transition: color .3s;
}

.section-services .single-service:hover .description {
    color: #fff;
}

.section-services .single-service a {
    position: relative;
    font-size: 18px;
    color: #202020;
    text-decoration: none;
    font-weight: 500;
    transition: color .3s;
}

.section-services .single-service:hover a {
    color: #fff;
}

.section-services .single-service a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #71d8db;
    transition: background-color .3s;
}

.section-services .single-service:hover a:after {
    background-color: #fff;
}

.section-services .container .ser-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem 0rem;
    margin: 2rem 0rem;
}

.section-services .container .ser-link .learn-more button {
    background-color: #ffffff;
    color: black;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    display: inline-flex;
    align-items: center;
    margin-bottom:1rem ;
}

.section-services .container .ser-link .learn-more {
    font-size: 1.3rem;
    text-decoration: none;
    color: #000;
}

.section-services .container .ser-link .learn-more button:hover {
    background: rgba(30, 30, 30, 0.92);
    color: #ffff;
    transform: scale(1.05); 
}


footer .first {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
    border-radius: 2rem 2rem 0 0;
    /* background: rgba(30, 30, 30, 0.92); */
    background-color: black;
    color: #ffffff;
    gap: 30vw;
    font-size: 1.7rem;
    font-family: 'Inika', serif;
    animation: slideInFromBottom 1s;
    animation: fadeIn 1s;
}

footer .copyright {
    display: flex;
    /* justify-content: flex-start; */
}

footer .copyright img{
    width: 15rem;
}

footer .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
}

footer .links .nav-bar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 2rem;
}

footer .links .nav-bar a {
    color: #FFF;
    text-decoration: none;
    font-size: 1.3rem;
}

footer .links .nav-bar a:hover {
    animation: pulse 0.5s;
    color: rgb(86, 177, 187);
}

footer .links .another-link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 2rem;
}

footer .links .another-link a {
    color: #FFF;
    text-decoration: none;
    font-size: 1.3rem;
}

footer .links .another-link a:hover {
    animation: pulse 0.5s;
    color: rgb(86, 177, 187);
}

footer .links .social-media {
    line-height: 2rem;
    align-items: center;
}

footer .links .social-media h5,
a {
    font-size: 1.5rem;
}

footer .links .social-media {
    display: flex;
    flex-direction: column;
}

footer .links .social-media a {
    display: inline-block;
    font-size: 2rem;
    color: white;
}

footer .links .social-media a:hover {
    animation: pulse 0.5s;
    color: rgb(86, 177, 187);
}

.footer-animate {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.5s, transform 0.5s;
}

.footer-animate.animated2 {
    opacity: 1;
    transform: scale(1);
}

footer .second{
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.5rem;
}


@keyframes pulse {

    0%,
    100% {
        transform: translate(0);
    }

    50% {
        transform: translate(-0.1rem, -0.25rem);
    }
}

@media (max-width:1540px) {

    body {
        overflow-x: hidden;
    }

    .text-overlay {
        width: 95%;
    }

    .text-overlay .titleb {
        font-size: 5.5rem;
    }

    .welcome {
        height: 50vh;
    }

}

@media (max-width:1280px) {


    header .heading {
        margin-left: 1.5rem;
    }

    /* header #menu-icon {
        display: block;
        color: black;
        font-size: 1.9rem;
        float: right;
        padding-right: 1.2rem;
    }

    header .navbar {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        top: 0.35rem;
        left: -8rem;
        width: 100%;
        padding: 1rem 0rem 0rem 0rem;
        margin: 4rem 0rem 0rem 8rem;
        background: rgba(197, 226, 225, 0.92);
        transform: translateX(-100%);
        transition: 0.5s ease;
        z-index: 100;
    }

    header .navbar .active {
        transform: translateX(0%);
    }

    header nav a {
        display: block;
        font-size: 1.2rem;
        margin: 1rem 5%;
    } */


    .text-overlay .titleb {
        position: absolute;
        top: -10rem;
        /* left: 40rem; */
        /* color: #ffffff; */
        font-size: 5rem;

    }

    .welcome {
        height: 60vh;
    }

    .welcome .txt h2 {
        max-width: fit-content;
    }

    footer .first {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50vh;
        gap: 1vw;
        font-size: 1.4rem;
    }
}


@media (max-width:1040px){
    header .heading {
        margin-left: 1rem;
    }

    header .navbar a {
        font-size: 1.05rem;
    }
}


@media (max-width:850px){

    header a img{
        width: 8rem;
    }

    header .heading {
        margin-left: 1rem;
    }

    header #menu-icon {
        display: block;
        color: black;
        font-size: 1.9rem;
        float: right;
        padding-right: 1.2rem;
    }

    header .navbar {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        /* align-items:left;  */
        /* gap: -5rem; */
        /* justify-content: flex-start; */
        top: 0.35rem;
        left: -8rem;
        width: 100%;
        padding: 1rem 0rem 0rem 0rem;
        margin: 4rem 0rem 0rem 8rem;
        background: rgba(197, 226, 225, 0.92);
        /* display: none; */
        transform: translateX(-100%);
        transition: 0.5s ease;
        z-index: 100;
    }

    header .navbar .active {
        transform: translateX(0%);
    }

    header nav a {
        display: block;
        font-size: 1.2rem;
        margin: 1rem 5%;
    }

    /* Pull down  */
    header .navbar a:before {
        display: none;
    }

    header .navbar a:hover:before {
        display: none;
    }

}

@media (max-width:786px) {

    .hero #construction-video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow-x: hidden;
    }

    .welcome {
        height: 55vh;
        margin: 0rem 0rem 3rem 0rem;
    }

    .welcome .txt h2 {
        font-size: 3rem;
    }

    .welcome .txt h5 {
        font-size: 1.7rem;
    }


    .text-overlay .titleb {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: -10rem;
        font-size: 4rem;
        font-weight: 100;
        text-align: center;
    }

    .icon {
        margin-top: 1rem;
    }


    .down-icon a {
        position: relative;
        margin: 0rem;
        font-size: 2.5rem;
    }

    footer .first {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80vh;
        font-size: 1.3rem;
        gap: 1.5rem;
    }

    footer .links {
        display: flex;
        flex-direction: column;
        float: left;
        gap: 5vh;
    }

    footer .links .nav-bar {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    footer .links .another-link {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    footer .links .social-media {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.2rem;
    }

    footer .links .social-media a {
        font-size: 2rem;
    }
}

@media (max-width:650px) {

    .hero #construction-video {
        position: absolute;
        /* max-width: 100vw; */
        object-fit: cover;
        /* overflow: hidden; */
    }


    .welcome {
        height: 70vh;
        /* margin: 0rem 2rem 3rem 3rem; */
    }

    .welcome .txt h2 {
        font-size: 3rem;
        margin-top: 1rem;
        line-height: 4rem;
        text-align: center;
    }

    .welcome .txt span {
        color: white;
        display: block;
        font-size: 3.5rem;
    }


    /* .welcome .txt h5 span {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    } */
}

@media (max-width:520px) {

    .text-overlay .titleb {
        font-size: 3rem;
    }

    .welcome {
        height: 75vh;
        /* margin: 0rem 2rem 3rem 3rem; */
    }

    /* .welcome .txt h2 {
        font-size: 2rem;
        margin: 0.5rem 4rem 0.5rem 3rem;
    } */

    .welcome .txt h2 {
        font-size: 2.5rem;
        margin-top: 1rem;
        line-height: 3rem;
        text-align: center;
    }

    .welcome .txt span {
        color: white;
        display: block;
        font-size: 2.9rem;
    }

    /* .welcome .txt h5 {
        margin-bottom: 1.5rem;
    } */
}

@media (max-width:430px) {

    /* header .navbar {
        position: absolute;
        top: 0.35rem;
        left: -8rem; 
        width: 400px;
    } */

    .text-overlay .titleb {
        font-size: 2.5rem;
    }

    .welcome {
        height: 75vh;
        /* margin: 0rem 2rem 3rem 3rem; */
    }

    .welcome .txt h2 {
        font-size: 2rem;
        margin-top: 1rem;
        line-height: 2.5rem;
        text-align: center;
        /* margin-bottom: 0.6rem; */
    }

    .welcome .txt span {
        color: white;
        display: block;
        font-size: 2.5rem;
    }

}

@media (max-width:380px) {

    .welcome {
        height: 78vh;
        /* margin: 0rem 2rem 3rem 3rem; */
    }

    .welcome .txt h2 {
        font-size: 1.8rem;
        margin-top: 1rem;
        line-height: 2rem;
        /* margin-bottom: 0.1rem; */
    }

    .welcome .txt span {
        color: white;
        display: block;
        font-size: 2rem;
    }

    .welcome .txt h5 {
        font-size: 1.5rem;
        /* margin-bottom: 0.2rem; */
    }

}

@media (max-width:280px) {
    .welcome .txt h5 {
        font-size: 1.2rem;
    }

    .section-services .single-service {
        height: 28rem;
    }
}

/*reveiw section*/
.testim {
    width: 100%;
    position: relative;
    margin: 10rem 0rem;
    background-color: #e6edf7;
    font-family: 'Marcellus', serif;
}

.testim .testim-cover .re-head {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding: 1rem 0rem 0rem 0rem;
}

.testim .testim-cover .re-head .re-title {
    font-weight: 700;
    font-size: 34px;
    text-align: center;
    width: 50%;
    /* padding: 2rem 0rem 0rem 0rem; */
    margin-top: 2rem;
}

.testim .testim-cover .re-head p {
    font-size: 18px;
    width: 50%;
    text-align: center;
    padding: 0;
}


.testim .wrap {
    position: relative;
    width: 100%;
    max-width: 1020px;
    padding: 40px 20px;
    margin: auto;
}

.testim .arrow {
    display: block;
    visibility: hidden;
    position: absolute;
    color: #333;
    cursor: pointer;
    font-size: 2em;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    padding: 5px;
    z-index: 22222222;
}

.testim .arrow:before {
    cursor: pointer;
}

.testim .arrow:hover {
    color: green;
}


.testim .arrow.left {
    left: 70px;
}

.testim .arrow.right {
    right: 70px;
}

.testim .dots {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 60px;
    left: 0;
    display: block;
    z-index: 3333;
    height: 12px;
}

.testim .dots .dot {
    list-style-type: none;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid green;
    margin: 0 10px;
    cursor: pointer;
    -webkit-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    position: relative;
}

.testim .dots .dot.active,
.testim .dots .dot:hover {
    background: green;
    border-color: green;
}

.testim .dots .dot.active {
    -webkit-animation: testim-scale .5s ease-in-out forwards;
    -moz-animation: testim-scale .5s ease-in-out forwards;
    -ms-animation: testim-scale .5s ease-in-out forwards;
    -o-animation: testim-scale .5s ease-in-out forwards;
    animation: testim-scale .5s ease-in-out forwards;
}

.testim .cont {
    position: relative;
    overflow: hidden;
}

.testim .cont>div {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 0 70px 0;
    opacity: 0;
}

.testim .cont>div.inactive {
    opacity: 1;
}


.testim .cont>div.active {
    position: relative;
    opacity: 1;
}


.testim .cont div .img img {
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50%;
}

.testim .cont div h2 {
    color: green;
    font-size: 1em;
    margin: 15px 0;
}

.testim .cont div p {
    font-size: 1.15em;
    color: #333;
    width: 70%;
    margin: auto;
}

.testim .cont div.active .img img {
    -webkit-animation: testim-show .5s ease-in-out forwards;
    -moz-animation: testim-show .5s ease-in-out forwards;
    -ms-animation: testim-show .5s ease-in-out forwards;
    -o-animation: testim-show .5s ease-in-out forwards;
    animation: testim-show .5s ease-in-out forwards;
}

.testim .cont div.active h2 {
    -webkit-animation: testim-content-in .4s ease-in-out forwards;
    -moz-animation: testim-content-in .4s ease-in-out forwards;
    -ms-animation: testim-content-in .4s ease-in-out forwards;
    -o-animation: testim-content-in .4s ease-in-out forwards;
    animation: testim-content-in .4s ease-in-out forwards;
}

.testim .cont div.active p {
    -webkit-animation: testim-content-in .5s ease-in-out forwards;
    -moz-animation: testim-content-in .5s ease-in-out forwards;
    -ms-animation: testim-content-in .5s ease-in-out forwards;
    -o-animation: testim-content-in .5s ease-in-out forwards;
    animation: testim-content-in .5s ease-in-out forwards;
}

.testim .cont div.inactive .img img {
    -webkit-animation: testim-hide .5s ease-in-out forwards;
    -moz-animation: testim-hide .5s ease-in-out forwards;
    -ms-animation: testim-hide .5s ease-in-out forwards;
    -o-animation: testim-hide .5s ease-in-out forwards;
    animation: testim-hide .5s ease-in-out forwards;
}

.testim .cont div.inactive h2 {
    -webkit-animation: testim-content-out .4s ease-in-out forwards;
    -moz-animation: testim-content-out .4s ease-in-out forwards;
    -ms-animation: testim-content-out .4s ease-in-out forwards;
    -o-animation: testim-content-out .4s ease-in-out forwards;
    animation: testim-content-out .4s ease-in-out forwards;
}

.testim .cont div.inactive p {
    -webkit-animation: testim-content-out .5s ease-in-out forwards;
    -moz-animation: testim-content-out .5s ease-in-out forwards;
    -ms-animation: testim-content-out .5s ease-in-out forwards;
    -o-animation: testim-content-out .5s ease-in-out forwards;
    animation: testim-content-out .5s ease-in-out forwards;
}

@-webkit-keyframes testim-scale {
    0% {
        -webkit-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        -webkit-box-shadow: 0px 0px 10px 5px #eee;
        box-shadow: 0px 0px 10px 5px #eee;
    }

    70% {
        -webkit-box-shadow: 0px 0px 10px 5px #ea830e;
        box-shadow: 0px 0px 10px 5px #ea830e;
    }

    100% {
        -webkit-box-shadow: 0px 0px 0px 0px #ea830e;
        box-shadow: 0px 0px 0px 0px #ea830e;
    }
}

@-moz-keyframes testim-scale {
    0% {
        -moz-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        -moz-box-shadow: 0px 0px 10px 5px #eee;
        box-shadow: 0px 0px 10px 5px #eee;
    }

    70% {
        -moz-box-shadow: 0px 0px 10px 5px #ea830e;
        box-shadow: 0px 0px 10px 5px #ea830e;
    }

    100% {
        -moz-box-shadow: 0px 0px 0px 0px #ea830e;
        box-shadow: 0px 0px 0px 0px #ea830e;
    }
}

@-ms-keyframes testim-scale {
    0% {
        -ms-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        -ms-box-shadow: 0px 0px 10px 5px #eee;
        box-shadow: 0px 0px 10px 5px #eee;
    }

    70% {
        -ms-box-shadow: 0px 0px 10px 5px #ea830e;
        box-shadow: 0px 0px 10px 5px #ea830e;
    }

    100% {
        -ms-box-shadow: 0px 0px 0px 0px #ea830e;
        box-shadow: 0px 0px 0px 0px #ea830e;
    }
}

@-o-keyframes testim-scale {
    0% {
        -o-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        -o-box-shadow: 0px 0px 10px 5px #eee;
        box-shadow: 0px 0px 10px 5px #eee;
    }

    70% {
        -o-box-shadow: 0px 0px 10px 5px #ea830e;
        box-shadow: 0px 0px 10px 5px #ea830e;
    }

    100% {
        -o-box-shadow: 0px 0px 0px 0px #ea830e;
        box-shadow: 0px 0px 0px 0px #ea830e;
    }
}

@keyframes testim-scale {
    0% {
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        box-shadow: 0px 0px 10px 5px #eee;
    }

    70% {
        box-shadow: 0px 0px 10px 5px #ea830e;
    }

    100% {
        box-shadow: 0px 0px 0px 0px #ea830e;
    }
}

@-webkit-keyframes testim-content-in {
    from {
        opacity: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-moz-keyframes testim-content-in {
    from {
        opacity: 0;
        -moz-transform: translateY(100%);
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
}

@-ms-keyframes testim-content-in {
    from {
        opacity: 0;
        -ms-transform: translateY(100%);
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

@-o-keyframes testim-content-in {
    from {
        opacity: 0;
        -o-transform: translateY(100%);
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes testim-content-in {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@-webkit-keyframes testim-content-out {
    from {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    to {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@-moz-keyframes testim-content-out {
    from {
        opacity: 1;
        -moz-transform: translateY(0);
        transform: translateY(0);
    }

    to {
        opacity: 0;
        -moz-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@-ms-keyframes testim-content-out {
    from {
        opacity: 1;
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    to {
        opacity: 0;
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@-o-keyframes testim-content-out {
    from {
        opacity: 1;
        -o-transform: translateY(0);
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@keyframes testim-content-out {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-100%);
    }
}

@-webkit-keyframes testim-show {
    from {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes testim-show {
    from {
        opacity: 0;
        -moz-transform: scale(0);
        transform: scale(0);
    }

    to {
        opacity: 1;
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

@-ms-keyframes testim-show {
    from {
        opacity: 0;
        -ms-transform: scale(0);
        transform: scale(0);
    }

    to {
        opacity: 1;
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

@-o-keyframes testim-show {
    from {
        opacity: 0;
        -o-transform: scale(0);
        transform: scale(0);
    }

    to {
        opacity: 1;
        -o-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes testim-show {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@-webkit-keyframes testim-hide {
    from {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    to {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@-moz-keyframes testim-hide {
    from {
        opacity: 1;
        -moz-transform: scale(1);
        transform: scale(1);
    }

    to {
        opacity: 0;
        -moz-transform: scale(0);
        transform: scale(0);
    }
}

@-ms-keyframes testim-hide {
    from {
        opacity: 1;
        -ms-transform: scale(1);
        transform: scale(1);
    }

    to {
        opacity: 0;
        -ms-transform: scale(0);
        transform: scale(0);
    }
}

@-o-keyframes testim-hide {
    from {
        opacity: 1;
        -o-transform: scale(1);
        transform: scale(1);
    }

    to {
        opacity: 0;
        -o-transform: scale(0);
        transform: scale(0);
    }
}

@keyframes testim-hide {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0);
    }
}

@media all and (max-width: 300px) {
    body {
        font-size: 14px;
    }
}

@media all and (max-width: 500px) {
    .testim .arrow {
        font-size: 1.5em;
    }

    .testim .cont div p {
        line-height: 25px;
    }

}

/*Feedback form*/

.content {
    font-family: 'Marcellus', serif;
    margin-bottom: 5rem;
}

.content .form-head {
    font-size: 2.8rem;
}

.content .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50rem;
}

.review-head {
    font-size: 3rem;
}

.form-control {
    border: none;
    border-bottom: 1px solid #d9d9d9;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
}

.form-control:active,
.form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #000;
}

#message {
    resize: none;
}

#form-message-success {
    color: #55A44E;
    font-size: 18px;
    font-weight: bold;
}


.success-message {
    display: none;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    border-radius: 2rem;
    animation: fadeIn 0.3s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.success-message img {
    width: 2rem;
    mix-blend-mode: multiply;
}


/* Contact Us */

.contactUs {
    margin: 3rem;
    font-family: 'Marcellus', serif;
    background-image: fixed url(assets/JMD\ LOGO\ 1.png);
}

.contactUs .title h3 {
    text-align: center;
    font-size: 2.5rem;
}

.contact.form {
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
    background-repeat: no-repeat;
    background-size: cover;
}

.contact {
    padding: 40px;
    background: #fff;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
}

.box {
    position: relative;
    display: grid;
    /* grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: 
    "form info"
    "form map";
    grid-gap: 20px; */
    margin: 2rem 0rem;
}

.contact h4 {
    color: #0e3959;
    font-weight: 500;
    font-family: 'Marcellus', serif;
    font-size: 1.4em;
    margin-bottom: 10px;
}

.formBox {
    position: relative;
    width: 100%;
}

.formBox .row50 {
    display: flex;
    gap: 20px;
}

.inputBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}

.formBox .row50 .inputBox {
    width: 100%;

}

.inputBox span {
    color: #0e3959;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}

.inputBox input {
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
}

.inputBox textarea {
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
    resize: none;
    min-height: 220px;
    margin-bottom: 10px;
}

.inputBox input[type="submit"] {
    background-color: #18b7ff;
    color: #fff;
    border: none;
    font-size: 1.1em;
    max-width: 120px;
    cursor: pointer;
    padding: 14px 0px;
    font-weight: 500;
    border-radius: 25px;
}

.inputBox input[type="submit"]:hover {
    animation: pulse 1s infinite;
    transition: .3s;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    70% {
        transform: scale(.9);
    }

    100% {
        transform: scale(1);
    }
}

.inputBox ::placeholder {
    color: #999;
}

@media screen and (max-width:1280px) {

    /* .branch .content-section{
  flex-direction: column;
    }*/
    .contactUs {
        padding: 34px 0px;
    }

    .box {
        display: inherit;
    }

    .info .form {
        margin-bottom: 5%;
        margin-top: 5%;
    }

    .formBox .row50 {
        display: block;
        gap: 20px;
    }

    .inputBox {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        width: 100%;
    }

    .contact {
        padding: 40px;
        margin-bottom: 5%;
        box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
    }

}
